<div class="bodybox">
  
  <h1 class="card-header bg-success">
    Welcome to {{ title }}
  </h1>
  
  <h3 class="text-secondary">
    Vue vs React vs Angular
  </h3>
  
  <div class="container">
  
    <div class="row">
    
      <div class="col">
        
        <div class="row">
          <h4>
            Number of stars on GitHub 2020-02-12
          </h4>
        </div>
        <div class="row">
  
          <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          [legend]="showLegend"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    
      <div class="col">
        
        <div class="row">
          <h4>
            2018 and 2019 on GitHub
          </h4>
        </div>
      
        <div class="row">
          <ngx-charts-bar-vertical-normalized
          [view]="view"
          [scheme]="colorSchemeTwo"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" 
          [legendPosition]="legendPosition"
          (select)="onSelect($event)">
          </ngx-charts-bar-vertical-normalized>
        </div>
      </div>
    </div>
    
    <div class="row">
    
      <div class="col">
        
        <div class="row">
          <h4>
            2018 and 2019 on GitHub
          </h4>
        </div>
  
        <div class="row">
          <ngx-charts-bar-vertical-stacked
          [view]="view"
          [scheme]="colorSchemeTwo"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" 
          [legendPosition]="legendPosition"
          (select)="onSelect($event)">
          </ngx-charts-bar-vertical-stacked>
        </div>
      </div>

      <div class="col">
  
        <div class="row">
          <h4>
            Job market late 2018
          </h4>
        </div>

        <div class="row">

          <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="singleTwo"
          [gradient]="gradient"
          [legend]="showLegend"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
          >
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div> 
  </div>
</div>
<router-outlet></router-outlet>